.loginButton{
    margin-top: 50px;
    margin-left: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.loginText{
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
.loginTitle{
    font-size: 60px;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}