<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="../../assets/img/user.png" class="user-photo">
      <div class="btn-chat-external"></div>
      <div class="btn-chat-internal"></div>
      <img src="../../assets/img/icon-chat.png" class="icon-chat">
    </div>
    <div class="col-4">
      <div class="row">
        <p class="user-name">Gus Lamounier</p>
      </div>
      <div class="row">
        <div class="col-0 user-info" >
            <u >UI Designer</u>
        </div>
        <div class="col-0 user-info" style="color: black;">
          <div>&ensp;at&ensp;</div>
        </div>
        <div class="col-0 user-info">
          <u>Orion</u>
        </div>
      </div>
      <div class="row" style="margin-top:16px;">
        <div class="col-0" style="margin-left: 0px; margin-right: 2px;">
          <img src="../../assets/img/icon-location.png" class="icon-location">
        </div>
        <div class="col-0">
          <u class="user-location">Belo Horizonte, MG / Brazil</u>
        </div>
      </div>
      <div class="row" style="margin-top:16px;">
        <p class="div user-email"> Email: gustavobl@ciandt.com</p>
      </div>
      <div class="row">
          <p class="div user-contact"> Tel: (31) 98865-5873</p>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="user-social-network" > 
          <div class="col-0 float-right" style="margin-right: 50px;">
              <img src="../../assets/img/icon-facebook.png"
              class="icon-facebook" style="margin-left: 0px; margin-right: 10px;">
              <img src="../../assets/img/icon-twitter.png"
              class="icon-twitter">
          </div>
          <div class="col-0">
             
          </div>
        </div>
      </div>
      <div class="row">
        <p class="user-coach"> Coach:&ensp;Jefferson Wellington da Cunha </p>
      </div>
      <div class="row">
        <p class="user-pdm"> PDM:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jefferson Wellington da Cunha </p>
      </div>
      <div class="row">
        <p class="user-bp"> BP:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;Natalia Veleziana Garcia </p>
      </div>
      <div class="row">
        <p class="user-area"> Area:&nbsp;&nbsp;&nbsp;&nbsp;&ensp;BU Polaris </p>
      </div>
    </div>
  </div>
</div>
<!-- </div>
<p class="user-name">Gus Lamounier</p>
<p class="user-info">
  <u>UI Designer</u>
  <font color="black"> at </font>
  <u>Orion</u>
</p>
<img src="../../assets/img/icon-location.png" srcset="../../assets/img/icon-location@2x.png 2x,
        ../../assets/img/icon-location@3x.png 3x"
  class="icon-location">
<p class="user-location">Belo Horizonte, MG / Brazil</p>
<p class="user-email">E-mail:&ensp;gustavobl@ciandt.com</p>
<p class="user-contact"> Tel:&ensp;(31) 98857763</p>
<p class="user-coach"> Coach:&ensp;Jefferson Wellington da Cunha</p>
<p class="user-pdm"> PDM:&nbsp;&nbsp;&nbsp;&nbsp;Jefferson Wellington da Cunha</p>
<p class="user-bp"> BP:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;Natalia Veleziana Garcia</p>
<p class="user-area"> Area:&nbsp;&nbsp;&nbsp;&ensp;BU Polaris</p> -->
