<!-- <div class="container" *ngIf="results"> -->
<div class="container">
  <div class="row">
    <div class="col-4">
      
      <img [src]="imgUrl" class="user-photo">
      <div class="btn-chat-external"></div>
      <div class="btn-chat-internal"></div>
      <img src="../../assets/img/icon-chat.png" class="icon-chat">
    </div>
    <div class="col-4">
        <div class="row" style="height: 100px;">
            <p class="user-name">{{ results?.name }}</p>
        </div>
      <div class="row">
        <div class="col-0 user-info" >
            <u>{{ results?.role.name }}</u>
        </div>
        <div class="col-0 user-info" style="color: black;">
          <div>&ensp;at&ensp;</div>
        </div>
        <div class="col-0 user-info">
          <u>{{ results?.project.name }}</u>
        </div>
      </div>
      <div class="row" style="margin-top:16px;">
        <div class="col-0" style="margin-left: 0px; margin-right: 2px;">
          <img src="../../assets/img/icon-location.png" class="icon-location">
        </div>
        <div class="col-0">
          <u class="user-location">{{ results?.cityBase.acronym}}&ensp;/&ensp;{{ results?.cityBase.name }}</u>
        </div>
      </div>
      <div class="row" style="margin-top:16px;">
        <p class="div user-email"> Email: {{ results?.email }}</p>
      </div>
      <div class="row">
          <p class="div user-contact"> Tel: {{ results?.telephone }}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="user-social-network" > 
          <div class="col-0 float-right" style="margin-right: 50px;">
              <img src="../../assets/img/icon-facebook.png"
              class="icon-facebook" style="margin-left: 0px; margin-right: 10px;">
              <img src="../../assets/img/icon-twitter.png"
              class="icon-twitter">
          </div>
          <div class="col-0">
             
          </div>
        </div>
      </div>
      <div class="row">
        <p class="user-coach"> Coach:&ensp;{{ results?.coach }} </p>
      </div>
      <div class="row">
        <p class="user-pdm"> PDM:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ results?.pdm }} </p>
      </div>
      <div class="row">
        <p class="user-bp"> BP:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;{{ results?.bp }} </p>
      </div>
      <div class="row">
        <p class="user-area"> Area:&nbsp;&nbsp;&nbsp;&nbsp;&ensp;{{ results?.area.name }}</p>
      </div>
    </div>
  </div>
</div>
<app-skill-radar></app-skill-radar>