<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>

<div class="mask">
    <div class="dropdown">
        <img src="../assets/img/menu.png" srcset="../assets/img/menu@2x.png 2x,
        ../assets/img/menu@3x.png 3x" class="menu">
        <div class="dropdown-content">
            <p>TODO</p>
        </div>
    </div>
    <img src="../assets/img/search.png" srcset="../assets/img/search@2x.png 2x,
    ../assets/img/search@3x.png 3x" class="search">
    <div class="inside-paper">
      <app-summary></app-summary>
    </div>
</div>